body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

main {
    width: min-content;
    height: min-content;
    border: solid black 4px;
    border-radius: 6px;
}